.vercel
.env
# Node.js modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# Optional: Build output
/dist
/build

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# NPM packages
package-lock.json
yarn.lock

